$lighter: darken(#C0BDBE, 10%);
$sans: 'McClatchy Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$serif: 'Lyon',Georgia,serif;
$slab: 'McClatchy Slab',Georgia,Times,'Times New Roman',serif;
$cond: 'McClatchy Sans Cond','Roboto Condensed Medium','HelveticaNeue-CondensedBold',sans-serif;
