.primary-color {
  color: white; }

.primary-background {
  background-color: white; }

.accent-color {
  color: white; }

.accent-background {
  background-color: white; }

.beaufortgazette-primary-color {
  color: #1E4971; }

.beaufortgazette-primary-background {
  background-color: #1E4971; }

.beaufortgazette-accent-color {
  color: #0184C1; }

.beaufortgazette-accent-background {
  background-color: #0184C1; }

.bellinghamherald-primary-color {
  color: #013B61; }

.bellinghamherald-primary-background {
  background-color: #013B61; }

.bellinghamherald-accent-color {
  color: #0280D3; }

.bellinghamherald-accent-background {
  background-color: #0280D3; }

.bnd-primary-color {
  color: #145288; }

.bnd-primary-background {
  background-color: #145288; }

.bnd-accent-color {
  color: #0078B2; }

.bnd-accent-background {
  background-color: #0078B2; }

.bradenton-primary-color {
  color: #1E4971; }

.bradenton-primary-background {
  background-color: #1E4971; }

.bradenton-accent-color {
  color: #0184BE; }

.bradenton-accent-background {
  background-color: #0184BE; }

.centredaily-primary-color {
  color: #0A4170; }

.centredaily-primary-background {
  background-color: #0A4170; }

.centredaily-accent-color {
  color: #3582C3; }

.centredaily-accent-background {
  background-color: #3582C3; }

.charlotteobserver-primary-color {
  color: #206FA8; }

.charlotteobserver-primary-background {
  background-color: #206FA8; }

.charlotteobserver-accent-color {
  color: #3AA2D7; }

.charlotteobserver-accent-background {
  background-color: #3AA2D7; }

.elnuevoherald-primary-color {
  color: #0079C1; }

.elnuevoherald-primary-background {
  background-color: #0079C1; }

.elnuevoherald-accent-color {
  color: #33B6E6; }

.elnuevoherald-accent-background {
  background-color: #33B6E6; }

.encubahoy-primary-color {
  color: #24418F; }

.encubahoy-primary-background {
  background-color: #24418F; }

.encubahoy-accent-color {
  color: #EC1D25; }

.encubahoy-accent-background {
  background-color: #EC1D25; }

.flkeysnews-primary-color {
  color: #2E3192; }

.flkeysnews-primary-background {
  background-color: #2E3192; }

.flkeysnews-accent-color {
  color: #D3B31B; }

.flkeysnews-accent-background {
  background-color: #D3B31B; }

.fresnobee-primary-color {
  color: #27395A; }

.fresnobee-primary-background {
  background-color: #27395A; }

.fresnobee-accent-color {
  color: #4C699A; }

.fresnobee-accent-background {
  background-color: #4C699A; }

.heraldonline-primary-color {
  color: #7C1D21; }

.heraldonline-primary-background {
  background-color: #7C1D21; }

.heraldonline-accent-color {
  color: #D02D34; }

.heraldonline-accent-background {
  background-color: #D02D34; }

.idahostatesman-primary-color {
  color: #1F405F; }

.idahostatesman-primary-background {
  background-color: #1F405F; }

.idahostatesman-accent-color {
  color: #2678C4; }

.idahostatesman-accent-background {
  background-color: #2678C4; }

.incubatoday-primary-color {
  color: #24418F; }

.incubatoday-primary-background {
  background-color: #24418F; }

.incubatoday-accent-color {
  color: #EC1D25; }

.incubatoday-accent-background {
  background-color: #EC1D25; }

.islandpacket-primary-color {
  color: #1E4971; }

.islandpacket-primary-background {
  background-color: #1E4971; }

.islandpacket-accent-color {
  color: #0184C1; }

.islandpacket-accent-background {
  background-color: #0184C1; }

.kansas-primary-color {
  color: #005EAB; }

.kansas-primary-background {
  background-color: #005EAB; }

.kansas-accent-color {
  color: #0093D0; }

.kansas-accent-background {
  background-color: #0093D0; }

.kansascity-primary-color {
  color: #145288; }

.kansascity-primary-background {
  background-color: #145288; }

.kansascity-accent-color {
  color: #0093D0; }

.kansascity-accent-background {
  background-color: #0093D0; }

.kentucky-primary-color {
  color: #094D73; }

.kentucky-primary-background {
  background-color: #094D73; }

.kentucky-accent-color {
  color: #1074AC; }

.kentucky-accent-background {
  background-color: #1074AC; }

.kentuckysports-primary-color {
  color: #18569E; }

.kentuckysports-primary-background {
  background-color: #18569E; }

.kentuckysports-accent-color {
  color: #3D7EC9; }

.kentuckysports-accent-background {
  background-color: #3D7EC9; }

.ledgerenquirer-primary-color {
  color: #174673; }

.ledgerenquirer-primary-background {
  background-color: #174673; }

.ledgerenquirer-accent-color {
  color: #2F76C1; }

.ledgerenquirer-accent-background {
  background-color: #2F76C1; }

.lexgo-primary-color {
  color: #DB8200; }

.lexgo-primary-background {
  background-color: #DB8200; }

.lexgo-accent-color {
  color: #FFA016; }

.lexgo-accent-background {
  background-color: #FFA016; }

.losbanosenterprise-primary-color {
  color: #0080B7; }

.losbanosenterprise-primary-background {
  background-color: #0080B7; }

.losbanosenterprise-accent-color {
  color: #56A9CC; }

.losbanosenterprise-accent-background {
  background-color: #56A9CC; }

.macon-primary-color {
  color: #1F3366; }

.macon-primary-background {
  background-color: #1F3366; }

.macon-accent-color {
  color: #3B6CBD; }

.macon-accent-background {
  background-color: #3B6CBD; }

.mcclatchydc-primary-color {
  color: #1D2E5C; }

.mcclatchydc-primary-background {
  background-color: #1D2E5C; }

.mcclatchydc-accent-color {
  color: #CDA01E; }

.mcclatchydc-accent-background {
  background-color: #CDA01E; }

.mercedsunstar-primary-color {
  color: #113511; }

.mercedsunstar-primary-background {
  background-color: #113511; }

.mercedsunstar-accent-color {
  color: #2E6D2F; }

.mercedsunstar-accent-background {
  background-color: #2E6D2F; }

.miamiherald-primary-color {
  color: #0066B3; }

.miamiherald-primary-background {
  background-color: #0066B3; }

.miamiherald-accent-color {
  color: #379AD3; }

.miamiherald-accent-background {
  background-color: #379AD3; }

.modbee-primary-color {
  color: #145288; }

.modbee-primary-background {
  background-color: #145288; }

.modbee-accent-color {
  color: #0093D0; }

.modbee-accent-background {
  background-color: #0093D0; }

.myrtlebeachonline-primary-color {
  color: #004377; }

.myrtlebeachonline-primary-background {
  background-color: #004377; }

.myrtlebeachonline-accent-color {
  color: #A72A2B; }

.myrtlebeachonline-accent-background {
  background-color: #A72A2B; }

.newsobserver-primary-color {
  color: #424242; }

.newsobserver-primary-background {
  background-color: #424242; }

.newsobserver-accent-color {
  color: #BA2814; }

.newsobserver-accent-background {
  background-color: #BA2814; }

.sacbee-primary-color {
  color: #145288; }

.sacbee-primary-background {
  background-color: #145288; }

.sacbee-accent-color {
  color: #0093D0; }

.sacbee-accent-background {
  background-color: #0093D0; }

.sanluisobispo-primary-color {
  color: #314B65; }

.sanluisobispo-primary-background {
  background-color: #314B65; }

.sanluisobispo-accent-color {
  color: #437BB3; }

.sanluisobispo-accent-background {
  background-color: #437BB3; }

.sierrastar-primary-color {
  color: #446896; }

.sierrastar-primary-background {
  background-color: #446896; }

.sierrastar-accent-color {
  color: #7991C4; }

.sierrastar-accent-background {
  background-color: #7991C4; }

.startelegram-primary-color {
  color: #8394AA; }

.startelegram-primary-background {
  background-color: #8394AA; }

.startelegram-accent-color {
  color: #5E6B7A; }

.startelegram-accent-background {
  background-color: #5E6B7A; }

.sunherald-primary-color {
  color: #035A84; }

.sunherald-primary-background {
  background-color: #035A84; }

.sunherald-accent-color {
  color: #008FD4; }

.sunherald-accent-background {
  background-color: #008FD4; }

.thenewstribune-primary-color {
  color: #0D6898; }

.thenewstribune-primary-background {
  background-color: #0D6898; }

.thenewstribune-accent-color {
  color: #00A0EF; }

.thenewstribune-accent-background {
  background-color: #00A0EF; }

.theolympian-primary-color {
  color: #2E6D2F; }

.theolympian-primary-background {
  background-color: #2E6D2F; }

.theolympian-accent-color {
  color: #204D21; }

.theolympian-accent-background {
  background-color: #204D21; }

.thestate-primary-color {
  color: #3B4858; }

.thestate-primary-background {
  background-color: #3B4858; }

.thestate-accent-color {
  color: #708095; }

.thestate-accent-background {
  background-color: #708095; }

.tricityherald-primary-color {
  color: #2656A3; }

.tricityherald-primary-background {
  background-color: #2656A3; }

.tricityherald-accent-color {
  color: #1991EC; }

.tricityherald-accent-background {
  background-color: #1991EC; }

.vidaenelvalle-primary-color {
  color: #034A78; }

.vidaenelvalle-primary-background {
  background-color: #034A78; }

.vidaenelvalle-accent-color {
  color: #0280D3; }

.vidaenelvalle-accent-background {
  background-color: #0280D3; }

/*# sourceMappingURL=site-colors.css.map */
