.beaufortgazette-primary-color {
    color: #1E4971;
}

.bellinghamherald-primary-color {
    color: #013B61;
}

.bnd-primary-color {
    color: #145288;
}

.bradenton-primary-color {
    color: #1E4971;
}

.centredaily-primary-color {
    color: #0A4170;
}

.charlotteobserver-primary-color {
    color: #206FA8;
}

.demomo-primary-color {
    color: #600A0F;
}

.elnuevoherald-primary-color {
    color: #0079C1;
}

.encubahoy-primary-color {
    color: #24418F;
}

.flkeysnews-primary-color {
    color: #2E3192;
}

.fresnobee-primary-color {
    color: #27395A;
}

.heraldonline-primary-color {
    color: #7C1D21;
}

.idahostatesman-primary-color {
    color: #1F405F;
}

.incubatoday-primary-color {
    color: #24418F;
}

.islandpacket-primary-color {
    color: #1E4971;
}

.kansas-primary-color {
    color: #005EAB;
}

.kansascity-primary-color {
    color: #145288;
}

.kentucky-primary-color {
    color: #094D73;
}

.kentuckysports-primary-color {
    color: #18569E;
}

.ledgerenquirer-primary-color {
    color: #174673;
}

.lexgo-primary-color {
    color: #DB8200;
}

.losbanosenterprise-primary-color {
    color: #0080B7;
}

.lsjournal-primary-color {
    color: #273759;
}

.macon-primary-color {
    color: #1F3366;
}

.mcclatchydc-primary-color {
    color: #1D2E5C;
}

.mercedsunstar-primary-color {
    color: #113511;
}

.miamiherald-primary-color {
    color: #0066B3;
}

.modbee-primary-color {
    color: #145288;
}

.myrtlebeachonline-primary-color {
    color: #004377;
}

.ncinsider-primary-color {
    color: #165B78;
}

.newsobserver-primary-color {
    color: #424242;
}

.sacbee-primary-color {
    color: #145288;
}

.sanluisobispo-primary-color {
    color: #314B65;
}

.sierrastar-primary-color {
    color: #446896;
}

.startelegram-primary-color {
    color: #8394AA;
}

.sunherald-primary-color {
    color: #035A84;
}

.thechowchillanews-primary-color {
    color: #07417B;
}

.thenewstribune-primary-color {
    color: #0D6898;
}

.theolympian-primary-color {
    color: #2E6D2F;
}

.thestate-primary-color {
    color: #3B4858;
}

.tricityherald-primary-color {
    color: #2656A3;
}

.varsitykansas-primary-color {
    color: #7C1C23;
}

.vidaenelvalle-primary-color {
    color: #034A78;
}

.winepressnw-primary-color {
    color: #520129;
}

.inksidenote-primary-color {
    color: #AACF37;
}
